body {
    font-family: courier;
    margin: 10;
    padding: 10;
    background-color: #e0e0d1;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px;
}
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px;
}

section h2 {
    text-align: center;
}

.education-entry {
    margin-bottom: 20px;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
